<div class="disclaimer-section py-5">

    <div class="container">

        <div class="disclaimer-header text-center mb-5">

            <span class="disclaimer-badge">
                TASMAC NOTICE
            </span>

            <h2 class="mt-3">
                Disclaimer
            </h2>

            <p>
                Important information regarding the use of this website.
            </p>

        </div>

        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-11">

                <div class="disclaimer-card">

                    <div class="disclaimer-item">

                        <div class="disclaimer-icon">
                            <i class="fa fa-info-circle"></i>
                        </div>

                        <div class="disclaimer-content">

                            <h4>Overview</h4>

                            <p>
                                The contents of this website are for information purposes only
                                and are intended to enable the public to have quick and easy
                                access to information.
                            </p>

                            <p>
                                Every effort is made to provide accurate and updated
                                information. However, details such as telephone numbers,
                                officer names, and other information may change prior to
                                updating on the website.
                            </p>

                            <p>
                                TASMAC does not assume any legal liability regarding the
                                completeness, accuracy, or usefulness of the information
                                provided on this website.
                            </p>

                        </div>

                    </div>

                    <div class="disclaimer-divider"></div>

                    <div class="disclaimer-item">

                        <div class="disclaimer-icon bg-success">
                            <i class="fa fa-external-link"></i>
                        </div>

                        <div class="disclaimer-content">

                            <h4>External Links</h4>

                            <p>
                                Some documents and pages may contain links to external
                                websites. TASMAC is not responsible for the accuracy,
                                reliability, or contents available on those external sites.
                            </p>

                            <p>
                                Hyperlinks provided to external sites do not constitute
                                endorsement of information, products, or services offered
                                by those websites.
                            </p>

                        </div>

                    </div>

                    <div class="disclaimer-divider"></div>

                    <div class="disclaimer-item">

                        <div class="disclaimer-icon bg-warning">
                            <i class="fa fa-shield"></i>
                        </div>

                        <div class="disclaimer-content">

                            <h4>Security & Suggestions</h4>

                            <p>
                                Despite our best efforts, TASMAC does not guarantee that
                                documents or files available on this website are free from
                                computer viruses or harmful components.
                            </p>

                            <p>
                                We welcome suggestions to improve the website and request
                                users to kindly bring any errors or issues to our notice.
                            </p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>