@if (footer$ | async; as footer) {

<footer class="footer">

  <div class="container">

    <div class="footer-top">

      <div class="footer-left">

        <div class="footer-brand">

          <img src="assets/images/logo/logo.jpg" alt="TASMAC">

          <div class="brand-content">

            <h5>
              Tamil Nadu State Marketing Corporation Limited
            </h5>

            <p>
              Government of Tamil Nadu Undertaking
            </p>

          </div>

        </div>

        <div class="footer-contact">

          <div class="contact-item">

            <i class="fa fa-map-marker"></i>

            <span>
              Egmore, Chennai - 600008
            </span>

          </div>

          <div class="contact-item">

            <i class="fa fa-phone"></i>

            <a href="tel:04428521298">
              044-28521298
            </a>

          </div>

        </div>

      </div>

      <div class="footer-links">

        <a routerLink="/excise">
          Excise
        </a>

        <a href="https://www.tn.gov.in/" target="_blank">
          TN Government
        </a>

        <a routerLink="/privacypolicy">
          Privacy Policy
        </a>

        <a routerLink="/termservice">
          Terms
        </a>

        <a routerLink="/disclaimer">
          Disclaimer
        </a>

        <a routerLink="/rti">
          RTI & Policies
        </a>

        <a routerLink="/contact">
          Contact Us
        </a>

      </div>

    </div>

  </div>

  <div class="footer-bottom">

    <div class="container footer-bottom-wrapper">

      <div class="copyright">

        Copyright © 2026 TASMAC |
        All Rights Reserved

      </div>

      <div class="footer-stats">

        <span>

          <i class="fa fa-users"></i>

          Visitors:
          <b>{{visitorCount}}</b>

        </span>

        <span>

          <i class="fa fa-calendar"></i>

          Updated:
          <b>{{lastUpdated}}</b>

        </span>

      </div>

      <div class="developer">

        Developed By
        <b>Bonton Softwares Pvt. Ltd.</b>

      </div>

    </div>

  </div>

</footer>

}