@if (footer$ | async; as footer) {

<footer class="footer">

  <div class="container">

    <div class="row">

      <!-- Logo Section -->

      <div class="col-lg-3 col-md-12 mb-4">

        <div class="footer-logo">

          <img src="assets/images/logo/home.png" alt="TASMAC">

          <div class="footer-logo-content">

            <h5>
              Tamil Nadu State Marketing Corporation Limited
            </h5>

            <p>
              Government of Tamil Nadu Undertaking
            </p>

          </div>

        </div>

      </div>


      <!-- Useful Links -->

      <div class="col-lg-3 col-md-6 mb-4 footer-column">

        <h6>Useful Links</h6>

        <ul>

          <li>
            <a routerLink="/excise">
              Excise
            </a>
          </li>

          <li>
            <a href="https://www.tn.gov.in/" target="_blank">
              Tamil Nadu Government
            </a>
          </li>

          <li>
            <a routerLink="/privacypolicy">
              Privacy Policy
            </a>
          </li>

          <li>
            <a routerLink="/termservice">
              Terms Of Services
            </a>
          </li>

          <li>
            <a routerLink="/disclaimer">
              Disclaimer
            </a>
          </li>

        </ul>

      </div>


      <!-- Policies -->

      <div class="col-lg-3 col-md-6 mb-4 footer-column">

        <h6>
          Regulations & Policies
        </h6>

        <ul>

          <li>
            <a routerLink="/rti">
              RTI
            </a>
          </li>

          <li>
            <a routerLink="/policies">
              Policies
            </a>
          </li>

          <li>
            <a routerLink="/actrules">
              Act & Rules
            </a>
          </li>

          <li>
            <a routerLink="/online-permit">
              Online Permits
            </a>
          </li>

          <li>
            <a routerLink="/contact">
              Contact Us
            </a>
          </li>

        </ul>

      </div>


      <!-- Contact -->

      <div class="col-lg-3 col-md-6 mb-4 footer-column">

        <h6>
          Contact Us
        </h6>

        <p>
          <i class="fa fa-map-marker"></i>

          CMDA Tower-II, IV Floor,
          Gandhi Irwin Bridge Road,
          Egmore, Chennai - 600008
        </p>

        <p>
          <i class="fa fa-envelope"></i>

          tasmac&#64;gov.in
        </p>

        <p>

          <i class="fa fa-phone"></i>

          <a href="tel:04428521298">
            044-28521298
          </a>

        </p>

      </div>

    </div>

  </div>


  <!-- Bottom -->

  <div class="footer-bottom">

    <div>
      Copyright © 2026 TASMAC |
      All Rights Reserved
    </div>

    <div class="footer-stats">

      <span>

        <i class="fa fa-users"></i>

        Total Visitors:
        <b>{{visitorCount}}</b>

      </span>

      <span>

        <i class="fa fa-calendar"></i>

        Last Updated:
        <b>{{lastUpdated}}</b>

      </span>

    </div>

    <div>

      Designed & Developed By

      <b>
        Bonton Softwares
      </b>

    </div>

  </div>

</footer>

}