@if (header$ | async; as header) {
<section class="hero-section">

	<!-- Top Alert Bar -->
	<div class="top-strip">
		<div class="alert-icon">
			<i class="bi bi-exclamation-triangle-fill"></i>
		</div>

		<div class="complaint-text">
			<app-ticker></app-ticker>
		</div>
	</div>

	<div class="container-fluid hero-content">

		<div class="row align-items-center">

			<!-- Left Content -->
			<div class="col-lg-7">

				<div class="gov-badge">
					<i class="bi bi-patch-check"></i>
					A Government of Tamil Nadu Undertaking
				</div>

				<h1 class="hero-title">
					Tamil Nadu State Marketing
					Corporation Limited.
				</h1>

				<p class="hero-description">
					Committed to regulated distribution,
					transparent pricing, and ensuring public
					safety across Tamil Nadu through robust
					governance and digital accessibility.
				</p>

				<div class="contact-info">

					<div class="contact-box">

						<div class="contact-title">
							Toll-Free
						</div>

						<a href="tel:18004252015">
							18004252015
						</a>

					</div>

					<div class="contact-box">

						<div class="contact-title">
							Complaint in WhatsApp Number
						</div>

						<a href="https://wa.me/917397720230" target="_blank">
							7397720230
						</a>

					</div>

				</div>

				<div class="hero-buttons">

					<button class="btn shop-btn" (click)="findNearbyShop()">

						<i class="bi bi-geo-alt-fill me-2"></i>

						Find a Shop

					</button>

					<a class="btn tender-btn" href="https://tntenders.gov.in/nicgep/app" target="_blank">

						View Tenders

						<i class="fa fa-external-link ms-2"></i>

					</a>
				</div>

			</div>

			<div class="col-lg-5">

				<div class="notice-card">

					<div class="card-header-custom">

						<div class="notice-title">

							<i class="bi bi-megaphone-fill"></i>

							<span>Updates & Notices</span>

						</div>

						<a class="view-all" routerLink="/noticeboard">
							VIEW ALL
						</a>

					</div>

					<div class="notice-scroll-container">

						<div class="notice-scroll">

							<div class="notice-item important-card">

								<div class="notice-top">

									<span class="notice-badge important">
										Application
									</span>

									<span class="notice-date">
										Latest
									</span>

								</div>

								<h5>
									Registration of Indian Made Liquor Brands
								</h5>

								<p>
									Application form for registration of Indian made scotch whisky,
									Indian made whisky, domestic wine, vodka, gin, rum, brandy,
									tequila and beer brands with TASMAC.
								</p>

							</div>


							<div class="notice-item new-card">

								<div class="notice-top">

									<span class="notice-badge new">
										Registration
									</span>

									<span class="notice-date">
										Latest
									</span>

								</div>

								<h5>
									Registration of Imported Foreign Liquor (IFL)
								</h5>

								<p>
									Offer form for registration of Imported Foreign Liquor (IFL)
									brands with TASMAC.
								</p>

							</div>


							<div class="notice-item urgent-card">

								<div class="notice-top">

									<span class="notice-badge urgent">
										Tamil
									</span>

									<span class="notice-date">
										PDF
									</span>

								</div>

								<h5>
									Code for Prevention of Frauds (தமிழ்)
								</h5>

								<p>
									Tamil version of fraud prevention and awareness guidelines.
								</p>

							</div>


							<div class="notice-item important-card">

								<div class="notice-top">

									<span class="notice-badge important">
										English
									</span>

									<span class="notice-date">
										PDF
									</span>

								</div>

								<h5>
									Code for Prevention of Frauds (English)
								</h5>

								<p>
									English version of fraud prevention and awareness guidelines.
								</p>

							</div>


							<div class="notice-item new-card">

								<div class="notice-top">

									<span class="notice-badge new">
										Act
									</span>

									<span class="notice-date">
										1937
									</span>

								</div>

								<h5>
									TN Prohibition Act 1937 (தமிழ்)
								</h5>

								<p>
									Tamil version of Tamil Nadu Prohibition Act 1937.
								</p>

							</div>


							<div class="notice-item urgent-card">

								<div class="notice-top">

									<span class="notice-badge urgent">
										Act
									</span>

									<span class="notice-date">
										1937
									</span>

								</div>

								<h5>
									TN Prohibition Act 1937 (English)
								</h5>

								<p>
									English version of Tamil Nadu Prohibition Act 1937.
								</p>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</section>
<div class="shop-section" id="shopSection">

	<!-- Heading -->
	<div class="text-center mb-5">

		<h1 class="main-title">
			Shop Locator & Stock Inquiry
		</h1>

		<p class="sub-title">
			Verify MRP, Check Live Stock, and Find Nearby Stores Instantly
		</p>

	</div>

	<!-- Locator Area -->

	<div class="row locator-wrapper">

		<!-- Map -->

		<div class="col-lg-6 p-0">

			<div class="map-section">

				<iframe width="100%" height="100%" frameborder="0" style="border:0" loading="lazy" allowfullscreen
					[src]="mapUrl">

				</iframe>

			</div>

		</div>


		<!-- Search Panel -->

		<div class="col-lg-6">

			<div class="search-panel">

				<div class="tab-container">

					<button class="tab-btn active">
						By District
					</button>

					<button class="tab-btn">
						By Product
					</button>

				</div>


				<div class="mt-4">

					<label>Select District</label>

					<select class="form-select">

						<option>
							Chennai
						</option>

						<option>
							Coimbatore
						</option>

						<option>
							Madurai
						</option>

					</select>

				</div>


				<div class="search-box mt-3">

					<i class="bi bi-search"></i>

					<input type="text" placeholder="Search Shop Code or Area...">

				</div>


				<div class="shop-card">

					<div class="shop-header">

						<small>
							Shop Code: 10452
						</small>

						<span class="status">

							<i class="bi bi-circle-fill"></i>

							Open

						</span>

					</div>


					<div class="shop-body">

						<div>

							<h6>
								Anna Nagar West
							</h6>

							<span>
								Stock Level:
								<b class="text-success">
									Adequate
								</b>
							</span>

						</div>

						<a>
							View MRP List →
						</a>

					</div>

				</div>

			</div>

		</div>

	</div>


	<!-- Tender section -->

	<!-- <div class="tender-section">

		<div class="heading">

			<h3>

				<i class="bi bi-megaphone"></i>

				Active Tenders

			</h3>

			<a>
				View All Tenders
			</a>

		</div>


		<div class="row">

			<div class="col-lg-4">

				<div class="tender-card">

					<small>
						Ref: TN/TAS/24-105
					</small>

					<h6>
						Procurement of Security Services for Depots
					</h6>

					<div class="bottom">

						<span class="danger">
							⏰ Closes: 2 Days
						</span>

						<i class="bi bi-download"></i>

					</div>

				</div>

			</div>


			<div class="col-lg-4">

				<div class="tender-card">

					<small>
						Ref: TN/TAS/24-102
					</small>

					<h6>
						Transportation Services for Madurai Region
					</h6>

					<div class="bottom">

						<span>
							⏰ Closes: 12 Nov
						</span>

						<i class="bi bi-download"></i>

					</div>

				</div>

			</div>


			<div class="col-lg-4">

				<div class="tender-card">

					<small>
						Ref: TN/TAS/24-098
					</small>

					<h6>
						Supply of IT Hardware for Zonal Offices
					</h6>

					<div class="bottom">

						<span>
							⏰ Closes: 15 Nov
						</span>

						<i class="bi bi-download"></i>

					</div>

				</div>

			</div>

		</div>

	</div> -->

</div>

<!-- <main>
	<app-office-details *ngIf="selectedOfficeData" [officeData]="selectedOfficeData"></app-office-details>
	<div class="scroll-to-top" [ngClass]="{'show': isShow}" (click)="scrollToTop()">
		↑
	</div>
</main> -->

<!-- <app-about-page></app-about-page> -->
<!-- <app-services-page></app-services-page> -->

}