<div class="portal-page">
    <div class="container">
        <div class="portal-header text-center">
            <span class="portal-badge">
                TASMAC SERVICES
            </span>
            <h2>
                Login Portals
            </h2>
            <p>
                Access TASMAC online applications and permit systems
            </p>
        </div>
        <div class="portal-wrapper">

            <a href="https://tasmace2e.in/" target="_blank" class="portal-box">
                <div class="portal-body">
                    <div class="portal-icon bg-primary">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <div class="portal-content">
                        <h4>
                            TASMAC E2E Portal
                        </h4>
                        <span>
                            https://tasmace2e.in/
                        </span>
                    </div>
                </div>
                <div class="portal-action">
                    <span>
                        Open Portal
                    </span>
                    <i class="fa fa-arrow-right"></i>
                </div>
            </a>

            <a href="https://renew-fl-license.cpe.tn.gov.in" target="_blank" class="portal-box">
                <div class="portal-body">
                    <div class="portal-icon bg-success">
                        <i class="fa fa-refresh"></i>
                    </div>
                    <div class="portal-content">
                        <h4>
                            FL License Renewal
                        </h4>
                        <span>
                            https://renew-fl-license.cpe.tn.gov.in
                        </span>
                    </div>
                </div>
                <div class="portal-action">
                    <span>
                        Open Portal
                    </span>
                    <i class="fa fa-arrow-right"></i>
                </div>
            </a>

            <a href="https://exportpermit-beer.cpe.tn.gov.in" target="_blank" class="portal-box">
                <div class="portal-body">
                    <div class="portal-icon bg-warning">
                        <i class="fa fa-send"></i>
                    </div>
                    <div class="portal-content">
                        <h4>
                            Export Permit Portal
                        </h4>
                        <span>
                            https://exportpermit-beer.cpe.tn.gov.in
                        </span>
                    </div>
                </div>
                <div class="portal-action">
                    <span>
                        Open Portal
                    </span>
                    <i class="fa fa-arrow-right"></i>
                </div>
            </a>

            <a href="https://importpermit-liquor.cpe.tn.gov.in" target="_blank" class="portal-box">
                <div class="portal-body">
                    <div class="portal-icon bg-danger">
                        <i class="fa fa-download"></i>
                    </div>
                    <div class="portal-content">
                        <h4>
                            Import Permit Portal
                        </h4>
                        <span>
                            https://importpermit-liquor.cpe.tn.gov.in
                        </span>
                    </div>
                </div>
                <div class="portal-action">
                    <span>
                        Open Portal
                    </span>
                    <i class="fa fa-arrow-right"></i>
                </div>
            </a>

        </div>
    </div>
</div>