<div class="portal-page">
    <div class="container">

        <div class="portal-wrapper">

            <!-- TASMAC E2E -->

            <a href="https://tasmace2e.in/" target="_blank" class="portal-box">

              

                <div class="portal-body">

                    <div class="portal-icon e2e-icon">
                        <i class="bi bi-pc-display"></i>
                    </div>

                    <div class="portal-content">
                        <h4>
                            TASMAC E2E Portal
                        </h4>
                        <span>
                            Enterprise Management System
                        </span>
                    </div>

                </div>

                <div class="portal-action">
                    <i class="bi bi-arrow-right"></i>
                </div>

            </a>

            <!-- FL License Renewal -->

            <a href="https://renew-fl-license.cpe.tn.gov.in" target="_blank" class="portal-box">

               

                <div class="portal-body">

                    <div class="portal-icon renewal-icon">
                        <i class="bi bi-card-checklist"></i>
                    </div>

                    <div class="portal-content">
                        <h4>
                            FL License Renewal
                        </h4>
                        <span>
                            Online License Renewal System
                        </span>
                    </div>

                </div>

                <div class="portal-action">
                    <i class="bi bi-arrow-right"></i>
                </div>

            </a>

            <!-- Export Permit -->

            <a href="https://exportpermit-beer.cpe.tn.gov.in" target="_blank" class="portal-box">


                <div class="portal-body">

                    <div class="portal-icon export-icon">
                        <i class="bi bi-box-arrow-up-right"></i>
                    </div>

                    <div class="portal-content">
                        <h4>
                            Export Permit Portal
                        </h4>
                        <span>
                            Beer Export Permit Application
                        </span>
                    </div>

                </div>

                <div class="portal-action">
                    <i class="bi bi-arrow-right"></i>
                </div>

            </a>

            <!-- Import Permit -->

            <a href="https://importpermit-liquor.cpe.tn.gov.in" target="_blank" class="portal-box">

                <div class="portal-body">

                    <div class="portal-icon import-icon">
                        <i class="bi bi-box-arrow-in-down"></i>
                    </div>

                    <div class="portal-content">
                        <h4>
                            Import Permit Portal
                        </h4>
                        <span>
                            Liquor Import Permit Application
                        </span>
                    </div>

                </div>

                <div class="portal-action">
                    <i class="bi bi-arrow-right"></i>
                </div>

            </a>

        </div>

    </div>
</div>