<div class="organization-container">

    <div class="page-header">

        <h1>
            Board Of Directors
        </h1>

        <p>
            Tamil Nadu State Marketing Corporation Limited
        </p>

    </div>

    <div class="row g-4">

        <div class="col-xl-4 col-lg-4 col-md-6" *ngFor="let data of boardData">

            <div class="member-card">

                <div class="member-icon">

                    <i class="fa fa-user">
                    </i>

                </div>


                <div class="member-content">

                    <h3>
                        {{data.name}}
                    </h3>

                    <p>
                        {{data.description}}
                    </p>

                </div>

            </div>

        </div>

    </div>

</div>