<nav class="custom-navbar">

	<div class="container-fluid nav-container">

		<a class="logo-section" routerLink="/home">

			<img src="/assets/images/logo/home.png" alt="TASMAC">

			<div class="logo-text">

				<h5>TASMAC</h5>

				<small>Tamil Nadu State Marketing Corporation</small>

			</div>

		</a>


		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">

			<i class="fa fa-bars"></i>

		</button>


		<div class="collapse navbar-collapse" id="navbarMenu">

			<ul class="navbar-nav">

				<li *ngFor="let menuItem of menuItems" class="nav-item" [ngClass]="{
                    'dropdown':menuItem.isDropdown,
                    'show':menuItem.showDropdown
                }" (mouseenter)="menuItem.isDropdown ? showDropdown(menuItem,true):null"
					(mouseleave)="menuItem.isDropdown ? showDropdown(menuItem,false):null">

					<a class="nav-link" [routerLink]="!menuItem.isDropdown ? menuItem.link : null"
						routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
						[ngClass]="{'dropdown-toggle':menuItem.isDropdown}">

						{{menuItem.title}}

					</a>

					<ul *ngIf="menuItem.isDropdown" class="dropdown-menu" [ngClass]="{'show':menuItem.showDropdown}">

						<li *ngFor="let subItem of menuItem.subMenu">

							<a class="dropdown-item" [routerLink]="subItem.link">

								{{subItem.title}}

							</a>

						</li>

					</ul>

				</li>

			</ul>

		</div>

	</div>

</nav>